---
title: FTMO 考核通过
date: '2025-10-11'
categories: 随笔
tags:
    - 交易
---

{{< image src="https://static.huangjing.me/blog/passed-ftmo-challenge.jpeg" alt="FTMO chanllenge passed" title="FTMO chanllenge passed"  >}}


{{< image src="https://static.huangjing.me/blog/passed-verification.jpeg" alt="FTMO verification passed" title="FTMO verification passed"  >}}

结果上来说虽然通过了考试，但我觉得自己做得并不好，过程中我并没有完全遵守交易原则。新的开始继续改进。